:root {
  --blue-gray: #747791;
  --darkblue-gray: #1f2133;
  --light-gray: #c5c9e8;
}

html {
  background: var(--darkblue-gray);
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: var(--light-gray);
}

.app {
  background: var(--blue-gray);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.rating {
  background-color: red;
  align-self: stretch;
}

.reviews {
  background-color: yellow;
  align-self: flex-start;
}

.sentiment {
  background-color: green;
}

.sidebar {
  background-color: purple;
  align-items: flex-sta;
}

.visitors {
  background-color: steelblue;
}

